{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{% block title %}Home{% endblock title %} | Blood Lagbe</title>
    <!-- style -->
    {% block style %}{% include 'snippets/style.html' %}{% endblock style %}
    <!--extra style -->
    {% block extra_style %}{% endblock extra_style %}
  </head>
  <body class="color-theme-red mont-font">
    <!-- preloader -->
    {% block loader %}
    <div class="preloader"></div>
    {% endblock loader %}

    <!-- main content -->
    <div class="main-wrapper">
      <!-- body content -->
      <!-- nav -->
      {% block nav %}{% include 'snippets/nav.html' %} {% endblock nav %}
      <!-- nav -->

      {% block body %}{% endblock body %}
      <!-- body content -->
    </div>
    <!-- script -->
    {% block scipt %}{% include 'snippets/script.html' %}{% endblock scipt %}
    <!-- extra script -->
    {% block extra_scripts %}{% endblock extra_scripts %}
  </body>
</html>
