{% load static %}

<a href="#topbar" id="to-top" class="btn btn-danger"><i class="feather-arrow-up p-2"></i></a>

<div id="footer" class="shadow-xss w-100 d-block d-flex justify-contain-center align-items-center border-0 p-5 mb-0" style="background-image: url({% static 'images/logo/blood_lagbe-footer_logo.png' %}")">
  <!-- ======= Footer ======= -->
  <footer class="container">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="footer-info">
              <h3><a href="/"><img class="ml-0" src=" {% static 'images/logo/blood_lagbe_logo-v2.png' %}" alt="" style="width: 90px;"> </span> </a></h3>
              <p>
                <strong>Phone:</strong> +01988353282<br>
                <strong>Email:</strong> zh@bloodlagbe.com<br>
              </p>
              <div class="social-links mt-3">
                <a href="#" class="twitter"><i class="feather-twitter p-2 text-white"></i></a>
                <a href="#" class="facebook"><i class="feather-facebook p-2 text-white"></i></a>
                <a href="#" class="instagram"><i class="feather-instagram p-2 text-white"></i></a>
                <a href="#" class="linkedin"><i class="feather-linkedin p-2 text-white"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4 class="text-white">Useful Links</h4>
            <ul class="text-white">
              <li><i class="feather-chevron-right p-2 text-danger"></i> <a href="#" class="text-white">Home</a></li>
              <li><i class="feather-chevron-right p-2 text-danger"></i> <a href="#" class="text-white">About us</a></li>
              <li><i class="feather-chevron-right p-2 text-danger"></i> <a href="#" class="text-white">Services</a></li>
              <li><i class="feather-chevron-right p-2 text-danger"></i> <a href="#" class="text-white">Terms of service</a></li>
              <li><i class="feather-chevron-right p-2 text-danger"></i> <a href="#" class="text-white">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4 class="text-white">Our Services</h4>
            <ul class="text-white">
              <li><i class="feather-chevron-right p-2 text-danger"></i> <a href="#" class="text-white">Web Design</a></li>
              <li><i class="feather-chevron-right p-2 text-danger"></i> <a href="#" class="text-white">Web Development</a></li>
              <li><i class="feather-chevron-right p-2 text-danger"></i> <a href="#" class="text-white">Product Management</a></li>
              <li><i class="feather-chevron-right p-2 text-danger"></i> <a href="#" class="text-white">Marketing</a></li>
              <li><i class="feather-chevron-right p-2 text-danger"></i> <a href="#" class="text-white">Graphic Design</a></li>
            </ul>
          </div>
          <div class="col-lg-3 col-md-6 footer-newsletter">
            <h4 class="text-white">Our Newsletter</h4>
            <p class="text-white">Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe" class="btn btn-danger text-white">
            </form>

          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright text-center text-white">
        &copy; Copyright <strong><span>Blood Lagbe</span></strong>. All Rights Reserved
      </div>
      <div class="credits text-center text-white">
        Developedd by <a href="">Blood Lagbe</a>
      </div>
    </div>
  </footer><!-- End Footer -->

</div>
