{% load static %}
  <!-- ======= Top Bar ======= -->

  <section id="topbar" class="d-flex align-items-center text-white p-2">
    <div class="container d-flex justify-content-center justify-content-md-between">

      <div class="contact-info d-flex align-items-center">
<!--            <a href="mailto:contact@example.com" class="text-white"><i class="feather-mail text-danger p-2"></i>Welcome {{user.first_name}} {{user.last_name}} </a>-->
            <a href="mailto:contact@example.com" class="text-white"><i class="feather-mail text-danger p-2"></i>info@bloodlagbe.com </a>
        <a href="" class="text-white"> <i class="feather-phone text-danger p-2"></i>+0881990581913</a>
      </div>
      <div class="social-links d-none d-md-block">
        <a href="#" class="twitter text-danger"><i class="feather-twitter p-2"></i></a>
        <a href="#" class="facebook text-danger"><i class="feather-facebook p-2"></i></a>
        <a href="#" class="instagram text-danger"><i class="feather-instagram p-2"></i></a>
        <a href="#" class="linkedin text-danger"><i class="feather-linkedin p-2"></i></a>
      </div>
    </div>
  </section>

  
<!-- navigation top-->
<div id="navbar" class="nav-header bg-white border-0">
    <div class="container d-flex justify-content-center justify-content-md-between align-items-center">

            <div class="nav-top">
                <a href="/"><img class="ml-0" src=" {% static 'images/logo/blood_lagbe_logo-v2.png' %}" alt="" style="width: 90px;"> </span> </a>
                <button class="nav-menu me-0 ms-2"></button>
            </div>
            
            <form action="#" class="float-left header-search">
                <div class="form-group mb-0 icon-input">
                    <i class="feather-search font-sm text-grey-400"></i>
                    <input type="text" placeholder="Start typing to search.." class="bg-grey border-0 lh-32 pt-2 pb-2 ps-5 pe-3 font-xssss fw-500 rounded-xl w350 theme-dark-bg border-danger">
                </div>
            </form>
<!--            <a href="/" class="p-2 text-center ms-3 menu-icon center-menu-icon"><i class="feather-home font-lg alert-light bg-greylight  btn-round-lg theme-dark-bg text-danger"></i></a>-->
            <a href="{% url 'donor' %}" class="p-2 text-center ms-0 menu-icon center-menu-icon"><i class="feather-award font-lg bg-greylight btn-round-lg theme-dark-bg text-grey-500 "></i></a>
            <a href="default-video.html" class="p-2 text-center ms-0 menu-icon center-menu-icon"><i class="feather-activity font-lg bg-greylight btn-round-lg theme-dark-bg text-grey-500 "></i></a>
            <a href="{% url 'donor' %}" class="p-2 text-center ms-0 menu-icon center-menu-icon"><i class="feather-user font-lg bg-greylight btn-round-lg theme-dark-bg text-grey-500 "></i></a>
            <a href="{% url 'donor' %}" class="p-2 text-center ms-0 menu-icon center-menu-icon"><i class="feather-info font-lg bg-greylight btn-round-lg theme-dark-bg text-grey-500 "></i></a>
            {% csrf_token %}
            {% if user.is_authenticated %}
                {% if user.profile.image %}
                    <a href="{% url 'profile' user.id %}" class="p-2 text-center ms-0 menu-icon center-menu-icon"><img src="{{ user.profile.image.url }}" width="40" height="40" border="2px solid red;" class="rounded-circle"></a>
                {% else %}
                    <a href="{% url 'profile' user.id %}" class="p-2 text-center ms-0 menu-icon center-menu-icon"><img src="/static/images/patient_icon_140481.png" width="40" height="40" border="2px solid red;" class="rounded-circle"></a>
                {% endif %}
            {% endif %}

            <a href="#" class="p-2 text-center ms-3 menu-icon chat-active-btn"><i class="feather-message-square font-xl text-current"></i></a>
                        <a href="#" class="p-2 text-center ms-auto menu-icon" id="dropdownMenu3" data-bs-toggle="dropdown" aria-expanded="false"><i class="feather-log-in font-xl text-current"></i></a>
            <div class="dropdown-menu dropdown-menu-end p-4 rounded-3 border-0 shadow-lg" aria-labelledby="dropdownMenu3">
                {% include 'accounts/login.html' %}
            </div>
    </div>

            
</div>
        <!-- navigation top -->


