<!-- static -->
{% load static %}
<link rel="stylesheet" href="{% static 'css/themify-icons.css'%}" />
<link rel="stylesheet" href="{% static 'css/feather.css'%}" />
<!-- Favicon icon -->
<link
  rel="icon"
  type="image/png"
  sizes="16x16"
  href="{% static 'images/logo/blood_lagbe_logo.png'%}"
/>
<!-- Custom Stylesheet -->
<link rel="stylesheet" href="{% static 'css/style.css'%}" />
<link rel="stylesheet" href="{% static 'css/emoji.css'%}" />

<link rel="stylesheet" href="{% static 'css/lightbox.css'%}" />
