{% extends 'base/base.html' %}
{% load widget_tweaks %}
{% load static %}
{% block body %}

    <div class="preloader"></div>

    
    <div class="main-wrapper">

        <!-- navigation top-->
        <div class="nav-header bg-white shadow-xs border-0">
            <div class="nav-top">
                <a href="/"><img class="ml-3" src=" {% static 'images/logo/blood_lagbe_logo-v2.png' %}" alt="" style="width: 90px;"> </span> </a>
                <button class="nav-menu me-0 ms-2"></button>
            </div>
            
            <form action="#" class="float-left header-search">
                <div class="form-group mb-0 icon-input">
                    <i class="feather-search font-sm text-grey-400"></i>
                    <input type="text" placeholder="Start typing to search.." class="bg-grey border-0 lh-32 pt-2 pb-2 ps-5 pe-3 font-xssss fw-500 rounded-xl w350 theme-dark-bg border-danger">
                </div>
            </form>
            <a href="/" class="p-2 text-center ms-3 menu-icon center-menu-icon"><i class="feather-home font-lg alert-light bg-greylight  btn-round-lg theme-dark-bg text-danger"></i></a>
            <a href="default-storie.html" class="p-2 text-center ms-0 menu-icon center-menu-icon"><i class="feather-award font-lg bg-greylight btn-round-lg theme-dark-bg text-grey-500 "></i></a>
            <a href="default-video.html" class="p-2 text-center ms-0 menu-icon center-menu-icon"><i class="feather-activity font-lg bg-greylight btn-round-lg theme-dark-bg text-grey-500 "></i></a>
            <a href="default-group.html" class="p-2 text-center ms-0 menu-icon center-menu-icon"><i class="feather-user font-lg bg-greylight btn-round-lg theme-dark-bg text-grey-500 "></i></a>
            <a href="shop-2.html" class="p-2 text-center ms-0 menu-icon center-menu-icon"><i class="feather-info font-lg bg-greylight btn-round-lg theme-dark-bg text-grey-500 "></i></a>

            <a href="#" class="p-2 text-center ms-auto menu-icon" id="dropdownMenu3" data-bs-toggle="dropdown" aria-expanded="false"><i class="feather-log-in font-xl text-current"></i></a>
            <div class="dropdown-menu dropdown-menu-end p-4 rounded-3 border-0 shadow-lg" aria-labelledby="dropdownMenu3">
                
                <h4 class="fw-700 font-xss mb-4">LOGIN</h4>
                <div class="card bg-transparent-card w-100 border-0 ps-5 mb-3">
                    <label class="block">
                        <span class="text-gray-700">
                            Phone Number
                        </span>
                        <input name="phone" class="block w-full mt-1 form-input" placeholder="01*********" pattern="\d*" maxlength="11" title="Phone number should be 11 digit number" value="" >
                    </label>
                </div>
                <div class="card bg-transparent-card w-100 border-0 ps-5 mb-3">
                    <label class="block">
                        <span class="text-gray-700">
                            Password
                        </span>
                        <input name="password" type="password" class="block w-full mt-1 form-input" placeholder="*********" value="">
                    </label>
                </div>

                <div class="card bg-transparent-card w-100 border-0 ps-5 mb-3">
                    <button type="button" class="btn btn-danger">login</button>
                </div>
                <div class="card bg-transparent-card w-100 border-0 ps-5">
                    <p class="p-2 text-sm text-center">Don't have an account? <span class="text-red-600 hover:underline hover:text-red-600"><a href="/auth/signup">Sign up</a></span></p>
                    <p class="text-sm text-red-600 hover:underline hover:text-red-600"><a href="/auth/forgot-password">Forgot Password</a></p>
                </div>
            </div>
            <a href="#" class="p-2 text-center ms-3 menu-icon chat-active-btn"><i class="feather-message-square font-xl text-current"></i></a>
            <div class="p-2 text-center ms-3 position-relative dropdown-menu-icon menu-icon cursor-pointer">
                <i class="feather-settings d-inline-block font-xl text-current"></i>
                <div class="dropdown-menu-settings switchcolor-wrap">
                    <h4 class="fw-700 font-sm mb-4">Settings</h4>
                    <h6 class="font-xssss text-grey-500 fw-700 mb-3 d-block">Choose Color Theme</h6>
                    <ul>
                        <li>
                            <label class="item-radio item-content">
                                <input type="radio" name="color-radio" value="red" checked=""><i class="ti-check"></i>
                                <span class="circle-color bg-red" style="background-color: #ff3b30;"></span>
                            </label>
                        </li>
                        <li>
                            <label class="item-radio item-content">
                                <input type="radio" name="color-radio" value="green"><i class="ti-check"></i>
                                <span class="circle-color bg-green" style="background-color: #4cd964;"></span>
                            </label>
                        </li>
                        <li>
                            <label class="item-radio item-content">
                                <input type="radio" name="color-radio" value="blue" checked=""><i class="ti-check"></i>
                                <span class="circle-color bg-blue" style="background-color: #132977;"></span>
                            </label>
                        </li>
                        <li>
                            <label class="item-radio item-content">
                                <input type="radio" name="color-radio" value="pink"><i class="ti-check"></i>
                                <span class="circle-color bg-pink" style="background-color: #ff2d55;"></span>
                            </label>
                        </li>
                        <li>
                            <label class="item-radio item-content">
                                <input type="radio" name="color-radio" value="yellow"><i class="ti-check"></i>
                                <span class="circle-color bg-yellow" style="background-color: #ffcc00;"></span>
                            </label>
                        </li>
                        <li>
                            <label class="item-radio item-content">
                                <input type="radio" name="color-radio" value="orange"><i class="ti-check"></i>
                                <span class="circle-color bg-orange" style="background-color: #ff9500;"></span>
                            </label>
                        </li>
                        <li>
                            <label class="item-radio item-content">
                                <input type="radio" name="color-radio" value="gray"><i class="ti-check"></i>
                                <span class="circle-color bg-gray" style="background-color: #8e8e93;"></span>
                            </label>
                        </li>

                        <li>
                            <label class="item-radio item-content">
                                <input type="radio" name="color-radio" value="brown"><i class="ti-check"></i>
                                <span class="circle-color bg-brown" style="background-color: #D2691E;"></span>
                            </label>
                        </li>
                        <li>
                            <label class="item-radio item-content">
                                <input type="radio" name="color-radio" value="darkgreen"><i class="ti-check"></i>
                                <span class="circle-color bg-darkgreen" style="background-color: #228B22;"></span>
                            </label>
                        </li>
                        <li>
                            <label class="item-radio item-content">
                                <input type="radio" name="color-radio" value="deeppink"><i class="ti-check"></i>
                                <span class="circle-color bg-deeppink" style="background-color: #FFC0CB;"></span>
                            </label>
                        </li>
                        <li>
                            <label class="item-radio item-content">
                                <input type="radio" name="color-radio" value="cadetblue"><i class="ti-check"></i>
                                <span class="circle-color bg-cadetblue" style="background-color: #5f9ea0;"></span>
                            </label>
                        </li>
                        <li>
                            <label class="item-radio item-content">
                                <input type="radio" name="color-radio" value="darkorchid"><i class="ti-check"></i>
                                <span class="circle-color bg-darkorchid" style="background-color: #9932cc;"></span>
                            </label>
                        </li>
                    </ul>
                    
                    <div class="card bg-transparent-card border-0 d-block mt-3">
                        <h4 class="d-inline font-xssss mont-font fw-700">Header Background</h4>
                        <div class="d-inline float-right mt-1">
                            <label class="toggle toggle-menu-color"><input type="checkbox"><span class="toggle-icon"></span></label>
                        </div>
                    </div>
                    <div class="card bg-transparent-card border-0 d-block mt-3">
                        <h4 class="d-inline font-xssss mont-font fw-700">Menu Position</h4>
                        <div class="d-inline float-right mt-1">
                            <label class="toggle toggle-menu"><input type="checkbox"><span class="toggle-icon"></span></label>
                        </div>
                    </div>
                    <div class="card bg-transparent-card border-0 d-block mt-3">
                        <h4 class="d-inline font-xssss mont-font fw-700">Dark Mode</h4>
                        <div class="d-inline float-right mt-1">
                            <label class="toggle toggle-dark"><input type="checkbox"><span class="toggle-icon"></span></label>
                        </div>
                    </div>
                    
                </div>
            </div>
            

            
        </div>
        <!-- navigation top -->
        <!-- main content -->
        <div class="main-content pt-0 bg-white ps-0 pe-0">
            
            
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 d-none d-xl-block p-0 vh-100 bg-image-contain bg-image-center bg-no-repeat" style="background-image: url( {% static 'images/19198095.jpg' %} );"></div>
                    <div class="col-xl-6 vh-100 align-items-center d-flex bg-white rounded-3 overflow-hidden">
                        <div class="card shadow-none border-0 ps-lg--5 me-auto coming-soon-card">
                            <div class="card-body rounded-0 text-left pt-md-5 mt-md-5 ps-0 pe-0">
                                <h5 class="fw-700 text-grey-900 display3-size display4-md-size lh-2">
                                    ব্লাড লাগবে হল রক্তদাতা ও গ্রহীতার জন্য একটি দ্রুত, সহজ এবং নিরাপদ প্ল্যাটফর্ম। 
                                </h5>
                                <div class="form-group mt-4 p-1 p-2 bg-white rounded-3">
                                    <div class="row">
                                        <div class="col-lg-5">
                                            <a href="#" class="w-100 d-block btn bg-current text-white font-xssss fw-600 ls-3 style1-input p-0 border-0 text-uppercase ">আমাদের সাথে যুক্ত হন</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> 
                    </div>
                </div>
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="card shadow-xss w-100 d-block d-flex border-0 p-4 mb-3">
                                <div class="card-body d-flex align-items-center p-0">
                                    <h2 class="fw-700 mb-0 mt-0 font-md text-grey-900">Top Donors</h2>
                                    <div class="search-form-2 ms-auto">
                                        <i class="ti-search font-xss"></i>
                                        <input type="text" class="form-control text-grey-500 mb-0 bg-greylight theme-dark-bg border-0" placeholder="Search here.">
                                    </div>
                                    <a href="#" class="btn-round-md ms-2 bg-greylight theme-dark-bg rounded-3"><i class="feather-filter font-xss text-grey-500"></i></a>
                                </div>
                            </div>

                            <div class="row ps-2 pe-1">
                                <div class="col-md-4 col-sm-6 pe-2 ps-2">
                                    <div class="card d-block border-0 shadow-xss rounded-3 overflow-hidden mb-3">
                                        <div class="card-body d-block w-100 p-4 text-center">
                                            <figure class="avatar ms-auto me-auto mb-0 position-relative w90 z-index-1"><img src="{% static 'images/user-25.png' %} " alt="image" class="float-right p-1 bg-white rounded-circle w-100"></figure>
                                            <div class="clearfix"></div>
                                            <h4 class="fw-700 font-xss mt-3 mb-0">ছোট নবাব</h4>
                                            <p class="fw-500 font-xssss text-grey-500 mt-0 mb-3">সোনারগাঁ, নারায়ণগঞ্জ </p>
                                            <ul class="d-flex align-items-center justify-content-center mt-1">
                                                <li class="m-2"><h4 class="fw-700 font-sm">7 <span class="font-xsssss fw-500 mt-1 text-grey-500 d-block">total Donation</span></h4></li>
                                                <li class="m-2"><h4 class="fw-700 font-sm">12/7/2021 <span class="font-xsssss fw-500 mt-1 text-grey-500 d-block">Last Donation date</span></h4></li>
                                            </ul>
                                            <ul class="d-flex align-items-center justify-content-center mt-1">
                                                <li class="m-1"><img style="width:50px;" src="{% static 'images/blood_group/A+ve.png' %} " alt="icon"></li>
                                                <li class="m-1"><a href="#" class="mt-4 p-0 btn p-2 lh-24 w100 ms-1 ls-3 d-inline-block rounded-xl bg-current font-xsssss fw-700 ls-lg text-white">Contract</a></li>

                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4 col-sm-6 pe-2 ps-2">
                                    <div class="card d-block border-0 shadow-xss rounded-3 overflow-hidden mb-3">
                                        <div class="card-body d-block w-100 p-4 text-center">
                                            <figure class="avatar ms-auto me-auto mb-0 position-relative w90 z-index-1"><img src="{% static 'images/user-25.png' %} " alt="image" class="float-right p-1 bg-white rounded-circle w-100"></figure>
                                            <div class="clearfix"></div>
                                            <h4 class="fw-700 font-xss mt-3 mb-0">আইন্সটাইনের নাতী</h4>
                                            <p class="fw-500 font-xssss text-grey-500 mt-0 mb-3">support@gmail.com</p>
                                            <ul class="d-flex align-items-center justify-content-center mt-1">
                                                <li class="m-2"><h4 class="fw-700 font-sm">30+ <span class="font-xsssss fw-500 mt-1 text-grey-500 d-block">Connections</span></h4></li>
                                                <li class="m-2"><h4 class="fw-700 font-sm">8.7 k <span class="font-xsssss fw-500 mt-1 text-grey-500 d-block">Follower</span></h4></li>
                                                <li class="m-2"><h4 class="fw-700 font-sm">634 <span class="font-xsssss fw-500 mt-1 text-grey-500 d-block">Followings</span></h4></li>
                                            </ul>
                                            <ul class="d-flex align-items-center justify-content-center mt-1">
                                                <li class="m-1"><img style="width:50px;" src="{% static 'images/blood_group/A-ve.png' %} " alt="icon"></li>
                                                <li class="m-1"><img src="{% static 'images/challenge-medal.svg' %} " alt="icon"></li>
                                                <li class="m-1"><img src="{% static 'images/fast-graduate.svg' %} " alt="icon"></li>
                                            </ul>
                                            <a href="#" class="mt-4 p-0 btn p-2 lh-24 w100 ms-1 ls-3 d-inline-block rounded-xl bg-current font-xsssss fw-700 ls-lg text-white">FOLLOW</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4 col-sm-6 pe-2 ps-2">
                                    <div class="card d-block border-0 shadow-xss rounded-3 overflow-hidden mb-3">
                                        <div class="card-body d-block w-100 p-4 text-center">
                                            <figure class="avatar ms-auto me-auto mb-0 position-relative w90 z-index-1"><img src="{% static 'images/user-24.png' %} " alt="image" class="float-right p-1 bg-white rounded-circle w-100"></figure>
                                            <div class="clearfix"></div>
                                            <h4 class="fw-700 font-xss mt-3 mb-0">ইমন হাজমোলা</h4>
                                            <p class="fw-500 font-xssss text-grey-500 mt-0 mb-3">support@gmail.com</p>
                                            <ul class="d-flex align-items-center justify-content-center mt-1">
                                                <li class="m-2"><h4 class="fw-700 font-sm">20+ <span class="font-xsssss fw-500 mt-1 text-grey-500 d-block">Connections</span></h4></li>
                                                <li class="m-2"><h4 class="fw-700 font-sm">57 k <span class="font-xsssss fw-500 mt-1 text-grey-500 d-block">Follower</span></h4></li>
                                                <li class="m-2"><h4 class="fw-700 font-sm">634 <span class="font-xsssss fw-500 mt-1 text-grey-500 d-block">Followings</span></h4></li>
                                            </ul>
                                            <ul class="d-flex align-items-center justify-content-center mt-1">
                                                <li class="m-1"><img style="width:50px;" src="{% static 'images/blood_group/AB+ve.png' %} " alt="icon"></li>
                                                <li class="m-1"><img src="{% static 'images/challenge-medal.svg' %} " alt="icon"></li>
                                                <li class="m-1"><img src="{% static 'images/fast-graduate.svg' %} " alt="icon"></li>
                                            </ul>
                                            <a href="#" class="mt-4 p-0 btn p-2 lh-24 w100 ms-1 ls-3 d-inline-block rounded-xl bg-current font-xsssss fw-700 ls-lg text-white">FOLLOW</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6 pe-2 ps-2">
                                    <div class="card d-block border-0 shadow-xss rounded-3 overflow-hidden mb-4">
                                        <div class="card-body d-block w-100 p-4 text-center">
                                            <figure class="avatar ms-auto me-auto mb-0 position-relative w90 z-index-1"><img src="{% static 'images/user-22.png' %} " alt="image" class="float-right p-1 bg-white rounded-circle w-100"></figure>
                                            <div class="clearfix"></div>
                                            <h4 class="fw-700 font-xss mt-3 mb-0">শাওন আলবদা </h4>
                                            <p class="fw-500 font-xssss text-grey-500 mt-0 mb-3">support@gmail.com</p>
                                            <ul class="d-flex align-items-center justify-content-center mt-1">
                                                <li class="m-2"><h4 class="fw-700 font-sm">500+ <span class="font-xsssss fw-500 mt-1 text-grey-500 d-block">Connections</span></h4></li>
                                                <li class="m-2"><h4 class="fw-700 font-sm">88.7 k <span class="font-xsssss fw-500 mt-1 text-grey-500 d-block">Follower</span></h4></li>
                                                <li class="m-2"><h4 class="fw-700 font-sm">1,334 <span class="font-xsssss fw-500 mt-1 text-grey-500 d-block">Followings</span></h4></li>
                                            </ul>
                                            <ul class="d-flex align-items-center justify-content-center mt-1">
                                                <li class="m-1"><img style="width:50px;" src="{% static 'images/blood_group/AB-ve.png' %} " alt="icon"></li>
                                                <li class="m-1"><img src="{% static 'images/challenge-medal.svg' %} " alt="icon"></li>
                                                <li class="m-1"><img src="{% static 'images/fast-graduate.svg' %} " alt="icon"></li>
                                            </ul>
                                            <a href="#" class="mt-4 p-0 btn p-2 lh-24 w100 ms-1 ls-3 d-inline-block rounded-xl bg-current font-xsssss fw-700 ls-lg text-white">FOLLOW</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6 pe-2 ps-2">
                                    <div class="card d-block border-0 shadow-xss rounded-3 overflow-hidden mb-3">
                                        <div class="card-body d-block w-100 p-4 text-center">
                                            <figure class="avatar ms-auto me-auto mb-0 position-relative w90 z-index-1"><img src="{% static 'images/user-21.png' %} " alt="image" class="float-right p-1 bg-white rounded-circle w-100"></figure>
                                            <div class="clearfix"></div>
                                            <h4 class="fw-700 font-xss mt-3 mb-0">কান হেলাল</h4>
                                            <p class="fw-500 font-xssss text-grey-500 mt-0 mb-3">support@gmail.com</p>
                                            <ul class="d-flex align-items-center justify-content-center mt-1">
                                                <li class="m-2"><h4 class="fw-700 font-sm">500+ <span class="font-xsssss fw-500 mt-1 text-grey-500 d-block">Connections</span></h4></li>
                                                <li class="m-2"><h4 class="fw-700 font-sm">88.7 k <span class="font-xsssss fw-500 mt-1 text-grey-500 d-block">Follower</span></h4></li>
                                                <li class="m-2"><h4 class="fw-700 font-sm">1,334 <span class="font-xsssss fw-500 mt-1 text-grey-500 d-block">Followings</span></h4></li>
                                            </ul>
                                            <ul class="d-flex align-items-center justify-content-center mt-1">
                                                <li class="m-1"><img style="width:50px;" src="{% static 'images/blood_group/O+ve.png' %} " alt="icon"></li>
                                                <li class="m-1"><img src="{% static 'images/challenge-medal.svg' %} " alt="icon"></li>
                                                <li class="m-1"><img src="{% static 'images/fast-graduate.svg' %} " alt="icon"></li>
                                                <li class="m-1"><img src="{% static 'images/fast-graduate.svg' %} " alt="icon"></li>
                                            </ul>
                                            <a href="#" class="mt-4 p-0 btn p-2 lh-24 w100 ms-1 ls-3 d-inline-block rounded-xl bg-current font-xsssss fw-700 ls-lg text-white">FOLLOW</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4 col-sm-6 pe-2 ps-2">
                                    <div class="card d-block border-0 shadow-xss rounded-3 overflow-hidden mb-3">
                                        <div class="card-body d-block w-100 p-4 text-center">
                                            <figure class="avatar ms-auto me-auto mb-0 position-relative w90 z-index-1"><img src="{% static 'images/user-25.png' %} " alt="image" class="float-right p-1 bg-white rounded-circle w-100"></figure>
                                            <div class="clearfix"></div>
                                            <h4 class="fw-700 font-xss mt-3 mb-0">দেবদাস</h4>
                                            <p class="fw-500 font-xssss text-grey-500 mt-0 mb-3">support@gmail.com</p>
                                            <ul class="d-flex align-items-center justify-content-center mt-1">
                                                <li class="m-2"><h4 class="fw-700 font-sm">44+ <span class="font-xsssss fw-500 mt-1 text-grey-500 d-block">Connections</span></h4></li>
                                                <li class="m-2"><h4 class="fw-700 font-sm">857 k <span class="font-xsssss fw-500 mt-1 text-grey-500 d-block">Follower</span></h4></li>
                                                <li class="m-2"><h4 class="fw-700 font-sm">154 <span class="font-xsssss fw-500 mt-1 text-grey-500 d-block">Followings</span></h4></li>
                                            </ul>
                                            <ul class="d-flex align-items-center justify-content-center mt-1">
                                                <li class="m-1"><img style="width:50px;" src="{% static 'images/blood_group/O-ve.png' %} " alt="icon"></li>
                                                <li class="m-1"><img src="{% static 'images/challenge-medal.svg' %} " alt="icon"></li>
                                                <li class="m-1"><img src="{% static 'images/fast-graduate.svg' %} " alt="icon"></li>
                                                <li class="m-1"><img src="{% static 'images/fast-graduate.svg' %} " alt="icon"></li>
                                            </ul>
                                            <a href="#" class="mt-4 p-0 btn p-2 lh-24 w100 ms-1 ls-3 d-inline-block rounded-xl bg-current font-xsssss fw-700 ls-lg text-white">FOLLOW</a>
                                        </div>
                                    </div>
                                </div>

                                 
                            </div>
                        </div>               
                    </div>    
                </div>
                   
        </div>
        <!-- main content -->

        
    

   
<div class="card shadow-xss w-100 d-block d-flex border-0 p-2 mb-0">
    <div class="card-body d-flex align-items-center p-0">
        <h2 class="fw-500 text-grey-500 lh-26 font-xssss w-100">Copyright 2021-2022 Blood Lagbe - All rights reserved. </h2>
    </div>                                                                   
</div>
    {% endblock body %}